.planet-column-names {
  display: contents;

  &--horizontal {
    .planet-column-names__title {
      padding: 0.5rem 0 1rem;
      border-bottom: 1px solid #C4C4C4;
      color: #474747;
      padding-right: 0.5rem;

      &:first-of-type {
        color: #00687F;
      }

      &:not(:first-of-type) {
        text-align: right;
        padding-left: 0.5rem;
      }
    }
  }

  &--vertical {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .planet-column-names--vertical {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);

    .planet-column-names__title {
      padding: 1rem;
    }
  }
}