.planet-data {
  display: contents;
}

.planet-data__header {
  display: none;
}

.planet-data__header, .planet-data__data {
  padding: 1rem 0;
  color: #474747;
}

.planet-data__data {
  &:nth-of-type(2) {
    color: #00687F;
  }

  &:not(:nth-of-type(2)) {
    text-align: right;
    padding-left: 0.5rem;
  }

  &:not(:last-of-type) {
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .planet-data__header {
    display: flex;
  }

  .planet-data:nth-child(odd) * {
    background: rgba(229, 229, 229, 0.5);
  }

  .planet-data {
    .planet-data__header, .planet-data__data {
      text-align: left;
      padding: 1rem;
    }
  }
}