.planet-data {
  display: contents;
}

.planet-data__header {
  display: none;
}

.planet-data__header, .planet-data__data {
  padding: 1rem 0;
  color: #474747;
}

.planet-data__data-wrapper {
  display: contents;
}

.planet-data__data {
  padding-right: 0.5rem;


  &:nth-of-type(1) {
    color: #00687F;
  }

  &:not(:nth-of-type(1)) {
    text-align: right;
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .planet-data__header {
    display: flex;
  }

  .planet-data:nth-child(even) > * {
    background: rgba(229, 229, 229, 0.5);
  }

  .planet-data {
    .planet-data__header, .planet-data__data {
      text-align: left;
      padding: 1rem;
    }
  }

  .planet-data__data-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
  }
}