html {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;

  @include mobile-big {
    font-size: 12px;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}