.new-movie-title__label {
  &--error {
    color: #FF1616;
  }
}

.new-movie-title__error {
  display: none;
  padding: 0.5rem;
  margin-top: 2px;
  border: 1px solid #FF1616;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(196, 196, 196, 0.5);
  font-size: 0.75rem;
  color: #FF1616;

  &--visible {
    display: flex;
  }
}
