.app-new-movie {
  background: white;

  &--active .app-new-movie__creator {
    display: grid;
  }
}

.app-new-movie__creator {
  display: none;
  grid-template-columns: auto;
  padding: 2rem 5rem;
  background: transparent;

  @include mobile {
    padding: 1rem;
  }
}

.app-new-movie__label {
  font-size: 0.75rem;
  color: #555555;
}

.app-new-movie__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.app-new-movie__input {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #999999;
  outline: none;
  font-size: 1rem;
  color: #474747;

  &::placeholder {
    color: #C4C4C4;
  }
}

.app-new-movie__title-error {
  display: none;
  padding: 0.5rem;
  margin-top: 2px;
  border: 1px solid #FF1616;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(196, 196, 196, 0.5);
  font-size: 0.75rem;
  color: #FF1616;

  &--visible {
    display: flex;
  }
}

.app-new-movie__planets {
  display: flex;
  flex-wrap: wrap;
}

.app-new-movie__planet {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #999999;
  border-radius: 1rem;
  box-sizing: border-box;
}

.app-new-movie__planet-remove {
  height: 0.75rem;
  margin-left: 0.5rem;
  cursor: pointer;

  > img {
    display: block;
    height: 100%;
  }
}

.app-new-movie__search {
  position: relative;
  padding-right: 1.5rem;
  border-bottom: 1px solid #999999;

  .app-new-movie__input {
    border: none;
  }
}

.app-new-movie__search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.app-new-movie__search-results {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 7rem;
  overflow-y: auto;
  display: none;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(196, 196, 196, 0.5);

  &--visible {
    display: flex;
  }
}

.app-new-movie__search-result {
  padding: 0.5rem;
  color: #555555;
  cursor: pointer;

  &:hover {
    background: rgba(#1BA1BE, 0.2);
  }

  &--empty, &--loading {
    color: rgb(196, 196, 196);
    cursor: default;

    &:hover {
      background: none;
    }
  }
}

.app-new-movie__close-search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 2;
}

.app-new-movie__button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.app-new-movie__button {
  display: flex;
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  background: #1BA1BE;
  border-radius: 4px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &--inactive {
    background: #E0E6EE;
    cursor: not-allowed;
  }
}